# Ignore cache files
.env
.vscode
faiss_index
__pycache__
index.pkl
.venv

# Ignore all vectordb files
faiss_uploaded_docs
site_reliability_engineering
sre_building_secure_and_reliable_systems

# Ignore uploaded files
uploads/*

# Ignore all files ending in .pyc
*.pyc

# Ignore GitHub Codespaces
.devcontainer